<%= simple_form_for @promotion, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :employee,label_method: :emp_full_name, value_method: :id, include_blank: false, :as => :hidden%>
  <%= f.association :employee,label_method: :emp_full_name, value_method: :id, include_blank: false, disabled: true%>
  <%= f.input :current_payscale %>
  <%= f.association :designation,label_method: :Designation_English, value_method: :id, include_blank: false ,prompt: "Select the New Designation"%>
  <%= f.input :new_payscale %>
  <%= f.input :order_no %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                promotions_path, :class => 'btn' %>
  </div>
<% end %>
