<%= simple_form_for @additional_charge, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :add_chargeID %>
  <%= f.label :employaa_name %>
  <%= collection_select(:additional_charge, :employee_id, Employee.all, :id, :emp_full_name, {:prompt => true, :multiple=>true }) %></br></br>
  <%= f.label :location %>
  <%= collection_select(:additional_charge, :location_id, Location.all, :id, :location_name, {:prompt => true, :multiple=>true }) %></br></br>
  <%= f.label :designation %>
  <%= collection_select(:additional_charge, :designation_id, Designation.all, :id, :Designation_English, {:prompt => true, :multiple=>true }) %></br></br>

  <%= f.input :from_date %>
  <%= f.input :to_date %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                additional_charges_path, :class => 'btn' %>
  </div>
<% end %>
