<%- model_class = Achievement -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:employee_id) %></th>
      <th><%= model_class.human_attribute_name(:award_name) %></th>
      <th><%= model_class.human_attribute_name(:award_given_by) %></th>
      <th><%= model_class.human_attribute_name(:details) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @achievements.each do |achievement| %>
      <tr>
        <td><%= link_to achievement.id, achievement_path(achievement) %></td>
        <td><%= achievement.employee_id %></td>
        <td><%= achievement.award_name %></td>
        <td><%= achievement.award_given_by %></td>
        <td><%= achievement.details %></td>
        <td><%=l achievement.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_achievement_path(achievement), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      achievement_path(achievement),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_achievement_path,
            :class => 'btn btn-primary' %>
