<p id="notice"><%= notice %></p>

<p>
  <b>Newreports:</b>
  <%= @hospital_report.NewReports %>
</p>

<p>
  <b>Anessan:</b>
  <%= @hospital_report.AnesSan %>
</p>

<p>
  <b>Anesavl:</b>
  <%= @hospital_report.AnesAvl %>
</p>

<p>
  <b>Anesgap:</b>
  <%= @hospital_report.AnesGap %>
</p>

<p>
  <b>Anesua:</b>
  <%= @hospital_report.AnesUA %>
</p>

<p>
  <b>Gynsan:</b>
  <%= @hospital_report.GynSan %>
</p>

<p>
  <b>Gynavl:</b>
  <%= @hospital_report.GynAvl %>
</p>

<p>
  <b>Gyngap:</b>
  <%= @hospital_report.GynGap %>
</p>

<p>
  <b>Gynua:</b>
  <%= @hospital_report.GynUA %>
</p>

<p>
  <b>Paedsan:</b>
  <%= @hospital_report.PaedSan %>
</p>

<p>
  <b>Paedavl:</b>
  <%= @hospital_report.PaedAvl %>
</p>

<p>
  <b>Paedgap:</b>
  <%= @hospital_report.PaedGap %>
</p>

<p>
  <b>Paedua:</b>
  <%= @hospital_report.PaedUA %>
</p>

<p>
  <b>Opthsan:</b>
  <%= @hospital_report.OpthSan %>
</p>

<p>
  <b>Opthavl:</b>
  <%= @hospital_report.OpthAvl %>
</p>

<p>
  <b>Opthgap:</b>
  <%= @hospital_report.OpthGap %>
</p>

<p>
  <b>Opthua:</b>
  <%= @hospital_report.OpthUA %>
</p>

<p>
  <b>Orthsan:</b>
  <%= @hospital_report.OrthSan %>
</p>

<p>
  <b>Orthavl:</b>
  <%= @hospital_report.OrthAvl %>
</p>

<p>
  <b>Orthgap:</b>
  <%= @hospital_report.OrthGap %>
</p>

<p>
  <b>Orthua:</b>
  <%= @hospital_report.OrthUA %>
</p>

<p>
  <b>Entsan:</b>
  <%= @hospital_report.ENTSan %>
</p>

<p>
  <b>Entavl:</b>
  <%= @hospital_report.ENTAvl %>
</p>

<p>
  <b>Entgap:</b>
  <%= @hospital_report.ENTGap %>
</p>

<p>
  <b>Entua:</b>
  <%= @hospital_report.ENTUA %>
</p>

<p>
  <b>Radisan:</b>
  <%= @hospital_report.RadiSan %>
</p>

<p>
  <b>Radiavl:</b>
  <%= @hospital_report.RadiAvl %>
</p>

<p>
  <b>Radigap:</b>
  <%= @hospital_report.RadiGap %>
</p>

<p>
  <b>Radiua:</b>
  <%= @hospital_report.RadiUA %>
</p>

<p>
  <b>Pathsan:</b>
  <%= @hospital_report.PathSan %>
</p>

<p>
  <b>Pathavl:</b>
  <%= @hospital_report.PathAvl %>
</p>

<p>
  <b>Pathgap:</b>
  <%= @hospital_report.PathGap %>
</p>

<p>
  <b>Pathua:</b>
  <%= @hospital_report.PathUA %>
</p>

<p>
  <b>Surgsan:</b>
  <%= @hospital_report.SurgSan %>
</p>

<p>
  <b>Surgavl:</b>
  <%= @hospital_report.SurgAvl %>
</p>

<p>
  <b>Surggap:</b>
  <%= @hospital_report.SurgGap %>
</p>

<p>
  <b>Surgua:</b>
  <%= @hospital_report.SurgUA %>
</p>

<p>
  <b>Genlsan:</b>
  <%= @hospital_report.GenlSan %>
</p>

<p>
  <b>Genlavl:</b>
  <%= @hospital_report.GenlAvl %>
</p>

<p>
  <b>Genlgap:</b>
  <%= @hospital_report.GenlGap %>
</p>

<p>
  <b>Genlua:</b>
  <%= @hospital_report.GenlUA %>
</p>

<p>
  <b>Tbsan:</b>
  <%= @hospital_report.TBSan %>
</p>

<p>
  <b>Tbavl:</b>
  <%= @hospital_report.TBAvl %>
</p>

<p>
  <b>Tbgap:</b>
  <%= @hospital_report.TBGap %>
</p>

<p>
  <b>Tbua:</b>
  <%= @hospital_report.TBUA %>
</p>

<p>
  <b>Denspesan:</b>
  <%= @hospital_report.DenSpeSan %>
</p>

<p>
  <b>Denspeavl:</b>
  <%= @hospital_report.DenspeAvl %>
</p>

<p>
  <b>Denspegap:</b>
  <%= @hospital_report.DenSpeGap %>
</p>

<p>
  <b>Denspeua:</b>
  <%= @hospital_report.DenSpeUA %>
</p>

<p>
  <b>Mosan:</b>
  <%= @hospital_report.MOSan %>
</p>

<p>
  <b>Moavl:</b>
  <%= @hospital_report.MOAvl %>
</p>

<p>
  <b>Mogap:</b>
  <%= @hospital_report.MOGap %>
</p>

<p>
  <b>Moua:</b>
  <%= @hospital_report.MOUA %>
</p>

<p>
  <b>Dentsan:</b>
  <%= @hospital_report.DentSan %>
</p>

<p>
  <b>Dentavl:</b>
  <%= @hospital_report.DentAvl %>
</p>

<p>
  <b>Dentgap:</b>
  <%= @hospital_report.DentGap %>
</p>

<p>
  <b>Dentua:</b>
  <%= @hospital_report.DentUA %>
</p>

<p>
  <b>Total:</b>
  <%= @hospital_report.Total %>
</p>

<p>
  <b>Totalua:</b>
  <%= @hospital_report.TotalUA %>
</p>

<p>
  <b>Other:</b>
  <%= @hospital_report.Other %>
</p>

<p>
  <b>Otherua:</b>
  <%= @hospital_report.OtherUA %>
</p>

<p>
  <b>Total spec san:</b>
  <%= @hospital_report.Total_Spec_San %>
</p>

<p>
  <b>Total spec avl:</b>
  <%= @hospital_report.Total_Spec_Avl %>
</p>


<%= link_to 'Edit', edit_hospital_report_path(@hospital_report) %> |
<%= link_to 'Back', hospital_reports_path %>
