<%= simple_form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :emp_id %>
  <%= f.input :emp_no %>
  <%= f.input :emp_new_id %>
  <%= f.input :emp_full_name %>
  <%= f.input :emp_fname %>
  <%= f.input :emp_mname %>
  <%= f.input :emp_lname %>
  <%= f.input :emp_fathername %>
  <%= f.input :emp_gender_id %>
  <%= f.input :emp_dob %>
  <%= f.input :emp_category_id %>
  <%= f.input :emp_religion_id %>
  <%= f.input :emp_caste_id %>
  <%= f.input :emp_bloodgroup_id %>
  <%= f.input :emp_permanent_address %>
  <%= f.input :emp_loc_master_id %>
  <%= f.input :emp_phone_no %>
  <%= f.input :emp_mobile_no %>
  <%= f.input :emp_email %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                employees_path, :class => 'btn' %>
  </div>
<% end %>
