<%- model_class = Designation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-bordered" id="designations">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Designation ID</th>
      <th>Designation (Hindi)</th>
      <th>Designation (English)</th>
      <th>Designation Class</th>
      <th>Gazetted Officer</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @designations.each do |designation| %>
      <tr>
        <td><%= link_to designation.id, designation_path(designation) %></td>
        <td><%= designation.designataionID %></td>
        <td><%= designation.Designation_Hindi %></td>
        <td><%= designation.Designation_English %></td>
        <td><%= designation.class_no %></td>
        <td><%= designation.gazetted_officer %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_designation_path(designation), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      designation_path(designation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_designation_path,
            :class => 'btn' %>
<script>
    $(document).ready(function() {
      $('#designations').dataTable( {
        "sPaginationType": "bootstrap"
      } );
    }
  );
</script>
