<%- model_class = QualificationName -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-bordered" id="qualification_names">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Qualification_name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @qualification_names.each do |qualification_name| %>
      <tr>
        <td><%= link_to qualification_name.id, qualification_name_path(qualification_name) %></td>
        <td><%= qualification_name.Qualification_name %></td>
        <td><%= qualification_name.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_qualification_name_path(qualification_name), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      qualification_name_path(qualification_name),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_qualification_name_path,
            :class => 'btn' %>
<script>
    $(document).ready(function() {
      $('#qualification_names').dataTable( {
        "sPaginationType": "bootstrap"
      } );
    }
  );
</script>
